<div class="body-margin-top">
	{{#if title}}
		<h2 class="dark-color top-margin">{{title}}</h2>
	{{/if}}	

	<form method="post" action="/users/forgot" class="dark-color">
		<div class="form-group">
			{{#if errors}}
				{{#each errors}}
					<p class="alert alert-danger">{{msg}}</p>
				{{/each}}	
			{{/if}}
			
			{{#if error}}
				<p class="alert alert-danger">{{error}}</p>
			{{/if}}
			<label>Email</label>
			<input type="text" class="form-control opacity-form" name="email" placeholder="Email">
		</div>
		<button type="submit" class="btn btn-default btn-primary">Submit</button>
	</form>
</div>	