<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<p>Im sidebar menu</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<p>Im image section</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="card">
				<p>Im info</p>
			</div>
			<div class="card">
				<p>Im info</p>
			</div>
			<div class="card">
				<p>Im info</p>
			</div>
		</div>
	</div>
</div>