<div class="body-margin-top">
	<div class="row">
		<div class="col-lg-4">
		  <i class="fa fa-thumbs-up btn btn-block btn-primary">Like</i>
		</div>
		<div class="col-lg-4">
		  <button class="btn btn-block btn-info">Info</button>
		</div>
		<div class="col-lg-4">
		  <button class="btn btn-block btn-danger">Delete</button>
		</div>
	</div>	
 </div>